body {
    background: white;
    font-family:lucida, arial;
    font-size: small;
    line-height: 125%;
}
.purple { color: #660099; }
.orange { color: #FF9933; }

hr {
    color:#660099;
    background-color:#660099;
    height:3px;
    border: 0px;
}

body, th, td { 
    font-weight: normal;
}
th { 
    color: black; 
    font-weight: normal;
   }
h3 { color: black; }
td { vertical-align:top; }

img { border:0 }
embed { vertical-align: middle; }

.button { 
    height: 25px;
    vertical-align: middle;
}

a { 
    font-weight: normal;
    color: #662e91;
    text-decoration:none; 
}
a.extern {
   color: #CC0000;
    text-decoration:underline; 
}

.view { float: right; }
.view form { float: right; }

.navi { display:table; }
.navi div {
    float:left;
    color:white;
    text-align:center;
    background-color: gray;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 2px;
    padding: 0px 10px 0px 10px;
}
.navi a div {
    background-color: #662e91;
}
.keys { 
    color: gray;
    font-size: 90%;
    list-style-type: none;
    padding: 0px;
}
.keys .inactive {
    padding: 4px;
    margin: 5px;
    float: left;
    -moz-box-shadow: 3px 3px 3px #aaa;
    -webkit-box-shadow: 3px 3px 3px #aaa;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ddd;
    color: #444;
}
.keys .active {
    padding: 4px;
    margin: 5px;
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FF9933;
    margin: 8px 5px 2px 5px;
    color: black;
}
input.searchSubmit {
  color: transparent;
  margin: 0 0 0 10px;
  border: 0px;
  height: 25px;
  width: 14px;
  background: url('/images/search.png');
}
input.searchClear {
  color: #CC0000;
  background-color: transparent;
  border: 0px;
}
input.searchText:hover {
    background-color: lightgray;
}
input {
    border: 1px #FF9933 solid;
}
textarea {
    border: 1px #FF9933 solid;
}

#header {
    margin: 5px 5% 30px 10%; 
}
#topmenu {
    list-style-type:none;
    display: inline;
}
#topmenu > li {
    float: left;
    margin: 0 10px 0 0;
}
#topmenu img.top {
    height: 49px;
}
#loginfo {
    float: right;
}
.popup {
    width: 200px;
    display: none;
    position: absolute;
    list-style-type: none;
    line-height: 120%;
    font-size: 120%;
    background-color: #662e91; 
    padding: 0 2px 0 2px;
    -moz-box-shadow: 3px 3px 3px #aaa;
    -webkit-box-shadow: 3px 3px 3px #aaa;
}
.popup li {
    float: none;
    margin: 2px 0 2px 0;
    padding: 0px;
    background-color: white;
}
.popup div {
   nowrap: true;
   padding: 5px;
}
.popup img.menu {
    height: 20px;
    margin: 0 10px 0 0;
}
.popup .active {
    background-color: #FF9933;
}

.content { 
    margin: 30px 5% 30px 10%; 
}

.help {
    font-weight: normal;
    font-size: 120%;
    line-height: 130%;
    color: black;
}
.help li {
    margin: 5px;
}
.comment {
    margin: 5px 0 10px 10px;
    font-weight: normal;
}
.comment p {
    margin: 0.2em 0 0.2em 0;
}
/* user's guide */
#table-of-contents a { text-decoration:none; }
.example {
    text-align: center;
    margin: 10px;
    background-color: lightgray;
}
.example table { float:center; }
.example td {
    padding: 0 10px 0 10px;
    border-spacing: 100px;
    text-align: center;
}
.balance {
    margin: 2em;
}
.balance td {
    margin : 5px;
}
.vote div {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    display: table;
    float: left;
    margin: 1px;
    text-align: center;
    height: 25px;
}
.vote .active {
    width: 24px;
}
.vote .inactive {
    width: 20px;
}
.vote .pro {
    background-color: #FF9900;
}
.vote .contra {
    background-color: #CC0000;
}
.vote_result { 
    width: 100px; 
    text-align: center;
}
.vote_query { 
    width: 180px; 
    text-align: center;
}
.vote_user { 
    width: 100px; 
    text-align: center;
}

.emo_thumb {
    width: 70px;
    height: 70px;
    text-align:center;
}
.user {
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 256px;
    margin: 5px;
    padding: 3px;
    border: 1px #660099 solid;
}
.user_space {
    width: 140px;
    height: 120px;
    overflow: hidden;
}
.chart {
    height: 400px;
    width: 640px;
}
.chart_wrapper {
    width:640px; 
    margin-left:auto; 
    margin-right:auto
}

.edit_error_class {
  display: block;
  color: red;
}
.rank {
    color: gray;
    margin-right: 5px;
}
.contra {
    color: #CC0000;
    font-weight: bold;
    font-size: 150%;
}
.pro {
    color: #FF9933;
    font-weight: bold;
    font-size: 150%;
}
.pass {
    color: lightgray;
    font-weight: bold;
    font-size: 150%;
}
